body{
    background-color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
}

.navbar {

    background-color: #1b833d !important;
    z-index: -10 !important;
    padding: 50px;
    
}
.navbar-brand{
    
    color: #fff !important;
    font-size: 50px;
}

.card-img-top{
    height: 100px;
}

.fa-user{
    font-size: 40px;
    color: white;
    background-color: black;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 50%;
}
.fa-brightness{
    font-size: 40px;
    color: white;
    margin-right: 20px;
    margin-left: 20px;
    /* background-color: wheat; */
}

.container .row-horizontal{

    height:  auto!important;
    /* background-color: #546972; */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    
    box-shadow: 2px 2px 10px gray;
    
    
}
.horizontal-item{
    /* position: absolute; */
}
.category{
    /* position: absolute; */
    
}

.row-horizontal:hover{
    border: 3px solid #4882D8 !important;
}
.horizontal-row{
    width: 100px;
    height: 100px;
    text-align: center;
}

.card .card-text{

    font-size: 20px;
    font-weight: 700;



}
.product:hover{
    box-shadow: 2px 2px 10px gray;

}
.Amount{
    color: rgb(8, 253, 8);
    font-size: 30px;
}

/* style for table in  */



table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f4f4f4;
}
tr:hover {
    background-color: #f1f1f1;
}
.action-btn {
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    margin: 0 5px;
}
.edit {
    background-color: #4CAF50;
}
.delete {
    background-color: #f44336;
}


.row{
    display: flex;
}
.card {
    background-color: rgb(209, 239, 127);
    /* border: 2px solid black; */

}


